.logement{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;

}
.Container_1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title_loc_tag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}