.Rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2rem;
  gap: 15px;
}
.Rating p{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: black
}