/* Importation d'une police depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Styles pour le corps (body) de la page */
body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Hauteur minimale de la vue à 100% de la hauteur de la fenêtre */
  overflow-x: hidden; /* Masque la barre de défilement horizontale si nécessaire */
}

/* Styles pour les éléments de code (balise <code>) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Choix de la police pour les éléments de code */
}
