.listelogements {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 50px;
  padding: 56px 50px;
  margin-top: 53px;
  height: 100%;
  list-style: none!important;
}
.home{
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {

  .listelogements {
      background-color: unset;
      gap: 20px 20px;
      grid-template-columns: 1fr 1fr;
      padding: 0px 0px;
      margin-top: 43px;
  }
}

@media screen and (max-width: 640px) {

  .listelogements {
      background-color: unset;
      gap: 20px 0px;
      grid-template-columns: 1fr;
      padding: 0px 0px;
      margin-top: 43px;
  }
}