header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .Header_Container{
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 1240px;
  margin-left: 20px;
  margin-right: 20px;

  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}


header img {
  height: 80%;
}

nav {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.navlink {
  color: #ff6060;
  margin-left: 40px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.navlink:hover {
  color: #000000;
}


@media only screen and (max-width : 640px) {

  header {
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
  }

  nav {
      justify-content: flex-end;
      display: flex;
      width: 100%;
  }

  .navlink {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 400;
  }

}