footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:black;
  height: 210px;
  text-align: center;
  font-size: 24px;
}
footer div.FooterContainer a{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer p{
  color: white;
  margin: 0;
  padding-top: 30px;
}
footer img{
  width: 122px;
}
@media only screen and (max-width : 1024px){
  
}
@media only screen and (max-width : 640px){
  footer p{
      font-size: 14px;
  }
}