footer{
  background-color:black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

p{
  color: white;
  margin: 0;
  padding-top: 20px;
}