.banner {
  border-radius: 25px;
  height: 225px;
  position: relative;
}

.banner-img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-sombre {
  background-color: #000000;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner h1 {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {

  .banner {
      height: 170px;
  }

  .banner h1 {
      font-size: 32px;
  }
}

@media screen and (max-width: 640px) {

  .banner {
      height: 111px;
  }

  .banner h1 {
      font-size: 24px;
  }
}